<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="auth">
	
	<resultMap id="UserResult" type="com.kh.coreflow.model.dto.UserDto$User" autoMapping="true">
		<id property="userNo" column="USER_NO" />
		<association property="profile" javaType="com.kh.coreflow.common.model.vo.FileDto$customFile">
			<result property="imgId" column="IMG_ID"/>
			<result property="imageCode" column="IMAGE_CODE"/>
			<result property="originName" column="ORIGIN_NAME"/>
			<result property="changeName" column="CHANGE_NAME"/>
			<result property="imgOrder" column="IMG_ORDER"/>
			<result property="refId" column="REF_ID"/>
		</association>
	</resultMap>
	
	<resultMap id="userAuthorityMap" type="com.kh.coreflow.model.dto.UserDto$UserAuthority">
		<id property="userNo" column="USER_NO"/>
	    <result property="roles" column="AUTHORITY" typeHandler="com.kh.coreflow.model.typehandler.RolesTypeHandler"/>
	</resultMap>
	
	<!-- 로그인용 -->
	<select id="findUserByEmail" resultType="com.kh.coreflow.model.dto.UserDto$User">
	    SELECT DISTINCT USER_NO, EMAIL, USER_PWD, USER_NAME, DEP_ID
	    FROM MEMBER
	    WHERE UPPER(EMAIL) = UPPER(#{email})
	</select>
	
	<!-- 계정생성(권한 부여) -->
	<insert id="insertUserRole" parameterType="com.kh.coreflow.model.dto.UserDto$UserAuthority">
    	INSERT ALL
    	<foreach collection="roles" item="role">
		INTO AUTHORITY(USER_NO, AUTHORITY)
    	VALUES(#{userNo}, #{role})
    	</foreach>
    	SELECT 1 FROM DUAL
	</insert>
	
	<!-- userNo 조회 -->
	<select id="findUserNoByEmail" resultType="long">
		SELECT USER_NO
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<select id="findUserByUserNo" resultMap="UserResult">
        SELECT M.*, I.*
        FROM MEMBER M
        LEFT JOIN IMAGE I ON M.USER_NO = I.REF_ID AND I.IMAGE_CODE = 'P'
        WHERE M.USER_NO = #{userNo}
    </select>
    
    <select id="findUserPwd" parameterType="map" resultMap="UserResult">
    	SELECT *
    	FROM MEMBER
    	WHERE USER_NAME = #{userName} AND EMAIL = #{email}
    </select>
    
    <update id="updatePwd" parameterType="map">
    	UPDATE MEMBER
    	SET USER_PWD = #{encodedPwd}
    	WHERE EMAIL = #{email}
    </update>
    
    <update id="updatePhone" parameterType="map">
    	UPDATE MEMBER
    	SET PHONE = #{string}
    	WHERE USER_NO = #{userNo}
    </update>
    
    <update id="updateAddress" parameterType="map">
    	UPDATE MEMBER
    	SET ADDRESS = #{address},
    		ADDRESS_DETAIL = #{addressDetail}
    	WHERE USER_NO = #{userNo}
    </update>
    
	<select id="findUserAuthorityByUserNo" resultType="string">
	    SELECT AUTHORITY
	    FROM AUTHORITY
	    WHERE USER_NO = #{userNo}
	</select>
	
	<select id="findUserProfileByUserNo" resultType="com.kh.coreflow.model.dto.ImageDto$Profile">
		SELECT IMAGE_CODE, CHANGE_NAME
		FROM IMAGE
		WHERE REF_ID = #{userNo}
	</select>
	
	<select id="isEmailExists" parameterType="String" resultType="boolean">
		SELECT COUNT(*) > 0 FROM USERS
		WHERE EMAIL = #{email}
	</select>
	
</mapper>











