<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="department">

  <select id="findAll"
          resultType="com.kh.coreflow.department.model.dto.DepartmentDto$DepartmentLite">
    SELECT
      DEP_ID     AS depId,
      DEP_NAME   AS depName,
      PARENT_ID  AS parentId
    FROM DEPARTMENT
    ORDER BY DEP_NAME ASC
  </select>

</mapper>











